In [1]:
import pandas as pd
import numpy as np

In [2]:
gdp_countries = pd.read_csv("data_csv/country_gdp.csv", sep=";")

In [3]:
gdp_countries

,country_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10
2,Algeria,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,3.852147e+09,...,2.097550e+11,2.138100e+11,1.659792e+11,1.600342e+11,1.700970e+11,1.749107e+11,1.717603e+11,1.457435e+11,1.634724e+11,1.949984e+11
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.210000e+08,7.500000e+08,8.710000e+08
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.193513e+09,3.271686e+09,2.789883e+09,2.896612e+09,3.000160e+09,3.218419e+09,3.155150e+09,2.891002e+09,3.325144e+09,3.352031e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,2.834930e+10,2.996049e+10,3.190378e+10,3.429368e+10,3.744907e+10,4.069744e+10,4.369289e+10,4.468065e+10,4.754274e+10,...,1.820440e+12,1.901497e+12,1.701777e+12,1.582166e+12,1.714025e+12,1.780680e+12,1.829597e+12,1.715843e+12,1.931458e+12,2.060531e+12
262,Sub-Saharan Africa (excluding high income),2.833851e+10,2.995040e+10,3.189268e+10,3.428135e+10,3.743539e+10,4.068390e+10,4.367871e+10,4.466637e+10,4.752944e+10,...,1.819115e+12,1.900110e+12,1.700385e+12,1.580707e+12,1.712495e+12,1.779092e+12,1.827951e+12,1.714659e+12,1.930172e+12,2.058943e+12
263,Sub-Saharan Africa (IDA & IBRD countries),2.834930e+10,2.996049e+10,3.190378e+10,3.429368e+10,3.744907e+10,4.069744e+10,4.369289e+10,4.468065e+10,4.754274e+10,...,1.820440e+12,1.901497e+12,1.701777e+12,1.582166e+12,1.714025e+12,1.780680e+12,1.829597e+12,1.715843e+12,1.931458e+12,2.060531e+12
264,Upper middle income,2.361364e+11,2.204908e+11,2.220237e+11,2.422683e+11,2.800665e+11,3.149861e+11,3.452335e+11,3.517173e+11,3.657436e+11,...,2.126849e+13,2.187459e+13,2.056000e+13,2.051005e+13,2.268671e+13,2.437603e+13,2.483209e+13,2.395941e+13,2.893325e+13,3.060946e+13
265,World,1.381135e+12,1.446356e+12,1.546369e+12,1.670666e+12,1.832616e+12,1.994519e+12,2.161645e+12,2.308597e+12,2.491805e+12,...,7.771472e+13,7.983716e+13,7.528327e+13,7.651898e+13,8.148410e+13,8.654268e+13,8.777740e+13,8.525774e+13,9.752968e+13,1.013257e+14

In [12]:
gdp_coutries_transposed = gdp_countries.melt(id_vars=["country_name"], var_name="Year", value_name="GDP")

In [13]:
gdp_coutries_transposed

                                     country_name  Year           GDP
0                                     Afghanistan  1960  5.377778e+08
1                                         Albania  1960           NaN
2                                         Algeria  1960  2.723615e+09
3                                  American Samoa  1960           NaN
4                                         Andorra  1960           NaN
...                                           ...   ...           ...
16753                          Sub-Saharan Africa  2022  2.060531e+12
16754  Sub-Saharan Africa (excluding high income)  2022  2.058943e+12
16755   Sub-Saharan Africa (IDA & IBRD countries)  2022  2.060531e+12
16756                         Upper middle income  2022  3.060946e+13
16757                                       World  2022  1.013257e+14

[16758 rows x 3 columns]

In [18]:
gdp_country_positions = pd.read_csv("data_csv/gdp_country_positions.csv", sep=";")

In [21]:
gdp_country_positions = gdp_country_positions[:-14]

In [22]:
gdp_country_positions

,country_name,country_name.1,latitude,longitude,country,state
0,Afghanistan,Afghanistan,25.233394,55.174389,AE,Dubai
1,Albania,Albania,5.758765,-73.915162,CO,Santander
2,Algeria,Algiers,36.775361,3.060188,DZ,Algiers
3,Andorra,Andorra la Vella,42.506939,1.521247,AD,NaN
4,Angola,Angola,41.634874,-84.999280,US,Indiana
...,...,...,...,...,...,...
173,Vanuatu,Vanuatu Abbatoir,-17.687331,168.304937,VU,Shefa Province
174,Viet Nam,Viet Nam,20.599699,-76.397114,CU,Holguín
175,"Yemen, Rep.",Yaman,15.268007,42.583216,YE,Al Hudaydah Governorate
176,Zambia,Zambia,-10.943272,14.144345,AO,Cuanza Sul Province
177,Zimbabwe,Zimbabwe,4.760989,-6.666080,CI,Bas-Sassandra

In [23]:
df_merged = gdp_coutries_transposed.merge(gdp_country_positions, how="left", on="country_name")

In [26]:
gdp_country_poistions_merged = df_merged.dropna(subset=["country_name.1"])

In [27]:
gdp_country_poistions_merged

,country_name,Year,GDP,country_name.1,latitude,longitude,country,state
0,Afghanistan,1960,5.377778e+08,Afghanistan,25.233394,55.174389,AE,Dubai
1,Albania,1960,NaN,Albania,5.758765,-73.915162,CO,Santander
2,Algeria,1960,2.723615e+09,Algiers,36.775361,3.060188,DZ,Algiers
4,Andorra,1960,NaN,Andorra la Vella,42.506939,1.521247,AD,NaN
5,Angola,1960,NaN,Angola,41.634874,-84.999280,US,Indiana
...,...,...,...,...,...,...,...,...
16701,Vanuatu,2022,1.055812e+09,Vanuatu Abbatoir,-17.687331,168.304937,VU,Shefa Province
16703,Viet Nam,2022,4.088024e+11,Viet Nam,20.599699,-76.397114,CU,Holguín
16706,"Yemen, Rep.",2022,NaN,Yaman,15.268007,42.583216,YE,Al Hudaydah Governorate
16707,Zambia,2022,2.916378e+10,Zambia,-10.943272,14.144345,AO,Cuanza Sul Province
16708,Zimbabwe,2022,2.736663e+10,Zimbabwe,4.760989,-6.666080,CI,Bas-Sassandra

In [30]:
# gdp_country_poistions_merged.to_csv("data_csv/country_gdp_and_positions.csv", index=False, sep=";")

In [31]:
df = pd.read_csv("data_csv/country_gdp_and_positions.csv", sep=';')

In [32]:
df

,country_name,Year,GDP,country_name.1,latitude,longitude,country,state
0,Afghanistan,1960,5.377778e+08,Afghanistan,25.233394,55.174389,AE,Dubai
1,Albania,1960,NaN,Albania,5.758765,-73.915162,CO,Santander
2,Algeria,1960,2.723615e+09,Algiers,36.775361,3.060188,DZ,Algiers
3,Andorra,1960,NaN,Andorra la Vella,42.506939,1.521247,AD,NaN
4,Angola,1960,NaN,Angola,41.634874,-84.999280,US,Indiana
...,...,...,...,...,...,...,...,...
11209,Vanuatu,2022,1.055812e+09,Vanuatu Abbatoir,-17.687331,168.304937,VU,Shefa Province
11210,Viet Nam,2022,4.088024e+11,Viet Nam,20.599699,-76.397114,CU,Holguín
11211,"Yemen, Rep.",2022,NaN,Yaman,15.268007,42.583216,YE,Al Hudaydah Governorate
11212,Zambia,2022,2.916378e+10,Zambia,-10.943272,14.144345,AO,Cuanza Sul Province
11213,Zimbabwe,2022,2.736663e+10,Zimbabwe,4.760989,-6.666080,CI,Bas-Sassandra