In [1]:
import pandas as pd
import requests
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

### Get the Latitude and Longitude of each city by using an API

https://api-ninjas.com/api/geocoding

Needs an account to get the API key, 10000 request per month authorized

In [3]:
API_KEY = os.getenv('GEO_API_KEY')

In [4]:
city = 'Russia'
api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
print(response.status_code)
if response.status_code == requests.codes.ok:
    city_position = response.json()[0]
    print(response.json()[0])
else:
    print("Error:", response.status_code, response.text)

200
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}

### Get unique cities in the Dataframe

In [5]:
df_results = pd.read_csv("data_csv/results.csv", sep=",")
df_results

      Place             Pays  Or  Argent  Bronze  Total     Lieu  Annee
0         1       Etats Unis  38      41      34    113    Tokyo   2021
1         2            Chine  36      32      18     86    Tokyo   2021
2         3            Japon  27      12      16     55    Tokyo   2021
3         4  Grande Bretagne  22      21      22     65    Tokyo   2021
4         5           Russie  20      28      23     71    Tokyo   2021
...     ...              ...  ..     ...     ...    ...      ...    ...
1377      6          Hongrie   2       1       3      6  Athènes   1896
1378      7         Autriche   2       1       2      5  Athènes   1896
1379      8        Australie   2       0       1      3  Athènes   1896
1380      9         Danemark   1       2       3      6  Athènes   1896
1381     10           Suisse   1       2       0      3  Athènes   1896

[1382 rows x 8 columns]

In [6]:
df_results = df_results.drop_duplicates()

In [7]:
df_results

      Place             Pays  Or  Argent  Bronze  Total     Lieu  Annee
0         1       Etats Unis  38      41      34    113    Tokyo   2021
1         2            Chine  36      32      18     86    Tokyo   2021
2         3            Japon  27      12      16     55    Tokyo   2021
3         4  Grande Bretagne  22      21      22     65    Tokyo   2021
4         5           Russie  20      28      23     71    Tokyo   2021
...     ...              ...  ..     ...     ...    ...      ...    ...
1377      6          Hongrie   2       1       3      6  Athènes   1896
1378      7         Autriche   2       1       2      5  Athènes   1896
1379      8        Australie   2       0       1      3  Athènes   1896
1380      9         Danemark   1       2       3      6  Athènes   1896
1381     10           Suisse   1       2       0      3  Athènes   1896

[1372 rows x 8 columns]

In [8]:
df_results["Lieu"].unique()

array(['Tokyo', 'Rio de Janeiro', 'Londres', 'Pékin', 'Athènes', 'Sydney',
       'Atlanta', 'Barcelone', 'Séoul', 'Los Angeles', 'Moscou',
       'Montréal', 'Munich', 'Mexico', 'Rome', 'Melbourne', 'Helsinki',
       'Berlin', 'Amsterdam', 'Paris', 'Anvers', 'Stockholm',
       'Saint Louis'], dtype=object)

In [9]:
def get_position(city_list: list):
    city_position_list = []
    for city in city_list:
        city_info = {"Lieu": city}
        api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
        response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
        
        if response.status_code == requests.codes.ok:
            if len(response.json()) > 0:
                print(response.json()[0])
                city_info.update(response.json()[0])
                city_position_list.append(city_info)
            else:
                pass
        else:
            print("Error:", response.status_code, response.text)
    
    return pd.DataFrame(city_position_list).rename(columns={"name":"city_name"})

In [10]:
city_position_list = get_position(df_results["Lieu"].unique())

{'name': 'Tokyo', 'latitude': 35.6828387, 'longitude': 139.7594549, 'country': 'JP'}
{'name': 'Rio de Janeiro', 'latitude': -22.9110137, 'longitude': -43.2093727, 'country': 'BR', 'state': 'Rio de Janeiro'}
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}
{'name': 'Beijing', 'latitude': 39.906217, 'longitude': 116.3912757, 'country': 'CN', 'state': 'Beijing'}
{'name': 'Athens', 'latitude': 37.9839412, 'longitude': 23.7283052, 'country': 'GR', 'state': 'Attica'}
{'name': 'Sydney', 'latitude': -33.8698439, 'longitude': 151.2082848, 'country': 'AU', 'state': 'New South Wales'}
{'name': 'Atlanta', 'latitude': 33.7489924, 'longitude': -84.3902644, 'country': 'US', 'state': 'Georgia'}
{'name': 'Barcelona', 'latitude': 41.3828939, 'longitude': 2.1774322, 'country': 'ES', 'state': 'Catalonia'}
{'name': 'Seoul', 'latitude': 37.5666791, 'longitude': 126.9782914, 'country': 'KR'}
{'name': 'Los Angeles', 'latitude': 34.0536909, 'longitude': -118.242766, 'country': 'US', 'state': 'California'}

KeyboardInterrupt:

In [ ]:
city_position_list

,Lieu,city_name,latitude,longitude,country,state
0,Tokyo,Tokyo,35.682839,139.759455,JP,NaN
1,Rio de Janeiro,Rio de Janeiro,-22.911014,-43.209373,BR,Rio de Janeiro
2,Londres,London,51.507322,-0.127647,GB,England
3,Pékin,Beijing,39.906217,116.391276,CN,Beijing
4,Athènes,Athens,37.983941,23.728305,GR,Attica
5,Sydney,Sydney,-33.869844,151.208285,AU,New South Wales
6,Atlanta,Atlanta,33.748992,-84.390264,US,Georgia
7,Barcelone,Barcelona,41.382894,2.177432,ES,Catalonia
8,Séoul,Seoul,37.566679,126.978291,KR,NaN
9,Los Angeles,Los Angeles,34.053691,-118.242766,US,California
10,Moscou,Moscow,55.750446,37.617494,RU,Moscow
11,Montréal,Montreal,45.503182,-73.569806,CA,Quebec
12,Munich,Munich,48.137108,11.575382,DE,Bavaria
13,Mexico,Mexico City,19.432630,-99.133178,MX,NaN
14,Rome,Rome,41.893320,12.482932,IT,Lazio
15,Melbourne,Melbourne,-37.814218,144.963161,AU,Victoria
16,Helsinki,Helsinki,60.167488,24.942747,FI,NaN
17,Berlin,Berlin,52.517037,13.388860,DE,NaN
18,Amsterdam,Amsterdam,52.372760,4.893604,NL,North Holland
19,Paris,Paris,48.858890,2.320041,FR,Ile-de-France
20,Anvers,Antwerp,51.221110,4.399708,BE,Antwerp
21,Stockholm,Stockholm,59.325117,18.071093,SE,NaN
22,Saint Louis,Saint Louis,38.631966,-90.242876,US,Missouri

In [ ]:
# city_position_list.to_csv("data_csv/host_city_position.csv", index=False)

### Get City positions of the Country GDP Dataset

In [11]:
gdp_countries = pd.read_csv("data_csv/country_gdp.csv", sep=";")

In [12]:
gdp_countries

,country_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10
2,Algeria,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,3.852147e+09,...,2.097550e+11,2.138100e+11,1.659792e+11,1.600342e+11,1.700970e+11,1.749107e+11,1.717603e+11,1.457435e+11,1.634724e+11,1.949984e+11
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.210000e+08,7.500000e+08,8.710000e+08
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.193513e+09,3.271686e+09,2.789883e+09,2.896612e+09,3.000160e+09,3.218419e+09,3.155150e+09,2.891002e+09,3.325144e+09,3.352031e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,2.834930e+10,2.996049e+10,3.190378e+10,3.429368e+10,3.744907e+10,4.069744e+10,4.369289e+10,4.468065e+10,4.754274e+10,...,1.820440e+12,1.901497e+12,1.701777e+12,1.582166e+12,1.714025e+12,1.780680e+12,1.829597e+12,1.715843e+12,1.931458e+12,2.060531e+12
262,Sub-Saharan Africa (excluding high income),2.833851e+10,2.995040e+10,3.189268e+10,3.428135e+10,3.743539e+10,4.068390e+10,4.367871e+10,4.466637e+10,4.752944e+10,...,1.819115e+12,1.900110e+12,1.700385e+12,1.580707e+12,1.712495e+12,1.779092e+12,1.827951e+12,1.714659e+12,1.930172e+12,2.058943e+12
263,Sub-Saharan Africa (IDA & IBRD countries),2.834930e+10,2.996049e+10,3.190378e+10,3.429368e+10,3.744907e+10,4.069744e+10,4.369289e+10,4.468065e+10,4.754274e+10,...,1.820440e+12,1.901497e+12,1.701777e+12,1.582166e+12,1.714025e+12,1.780680e+12,1.829597e+12,1.715843e+12,1.931458e+12,2.060531e+12
264,Upper middle income,2.361364e+11,2.204908e+11,2.220237e+11,2.422683e+11,2.800665e+11,3.149861e+11,3.452335e+11,3.517173e+11,3.657436e+11,...,2.126849e+13,2.187459e+13,2.056000e+13,2.051005e+13,2.268671e+13,2.437603e+13,2.483209e+13,2.395941e+13,2.893325e+13,3.060946e+13
265,World,1.381135e+12,1.446356e+12,1.546369e+12,1.670666e+12,1.832616e+12,1.994519e+12,2.161645e+12,2.308597e+12,2.491805e+12,...,7.771472e+13,7.983716e+13,7.528327e+13,7.651898e+13,8.148410e+13,8.654268e+13,8.777740e+13,8.525774e+13,9.752968e+13,1.013257e+14

In [13]:
gdp_countries["country_name"] = gdp_countries["country_name"].replace({"Russian Federation": "Russia"})

In [14]:
gdp_countries["country_name"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe',
       'Africa Eastern and Southern', 'Africa Western and Central',
       'Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World'], dtype=object)

In [20]:
city = "Russia"
city_info = {"Pays": city}
api_url = f'https://api.api-ninjas.com/v1/country?name={city}'
response = requests.get(api_url, headers={'X-Api-Key': API_KEY})

if response.status_code == requests.codes.ok:
    if len(response.json()) > 0:
        print(response.json()[0])
    else:
        pass
else:
    print("Error:", response.status_code, response.text)

{'gdp': 1660514.0, 'sex_ratio': 86.4, 'surface_area': 17098246.0, 'life_expectancy_male': 66.8, 'unemployment': 4.4, 'imports': 247161.0, 'homicide_rate': 8.2, 'currency': {'code': 'RUB', 'name': 'Russian Ruble'}, 'iso2': 'RU', 'employment_services': 67.8, 'employment_industry': 26.6, 'urban_population_growth': 0.2, 'secondary_school_enrollment_female': 102.1, 'employment_agriculture': 5.6, 'capital': 'Moscow', 'co2_emissions': 1536.9, 'forested_area': 49.8, 'tourists': 24551.0, 'exports': 426720.0, 'life_expectancy_female': 77.5, 'post_secondary_enrollment_female': 89.1, 'post_secondary_enrollment_male': 75.0, 'primary_school_enrollment_female': 102.3, 'infant_mortality': 5.8, 'gdp_growth': 2.3, 'threatened_species': 279.0, 'population': 145934.0, 'urban_population': 74.6, 'secondary_school_enrollment_male': 104.7, 'name': 'Russian Federation', 'pop_growth': 0.1, 'region': 'Eastern Europe', 'pop_density': 8.9, 'internet_users': 80.9, 'gdp_per_capita': 11394.1, 'fertility': 1.8, 'refugees': 135.5, 'primary_school_enrollment_male': 102.8}

In [19]:
positions = get_position(gdp_countries["country_name"].unique())

{'name': 'Afghanistan', 'latitude': 25.2333938, 'longitude': 55.174389025091465, 'country': 'AE', 'state': 'Dubai'}
{'name': 'Albania', 'latitude': 5.7587654, 'longitude': -73.9151617, 'country': 'CO', 'state': 'Santander'}
{'name': 'Algiers', 'latitude': 36.7753606, 'longitude': 3.0601882, 'country': 'DZ', 'state': 'Algiers'}
{'name': 'Andorra la Vella', 'latitude': 42.5069391, 'longitude': 1.5212467, 'country': 'AD'}
{'name': 'Angola', 'latitude': 41.634874, 'longitude': -84.99928, 'country': 'US', 'state': 'Indiana'}
{'name': 'Argentina', 'latitude': 27.0854542, 'longitude': -109.1412408, 'country': 'MX', 'state': 'Sonora'}
{'name': 'Armenia', 'latitude': 4.536307, 'longitude': -75.6723751, 'country': 'CO', 'state': 'Quindío'}
{'name': 'Aruba', 'latitude': 12.51756625, 'longitude': -69.98186415210564, 'country': 'NL'}
{'name': 'Australia', 'latitude': -31.95260295, 'longitude': 152.55512735272188, 'country': 'AU', 'state': 'New South Wales'}
{'name': 'Austria', 'latitude': 25.22539605, 'longitude': 55.16431379427327, 'country': 'AE', 'state': 'Dubai'}
{'name': 'Azerbaijan', 'latitude': 25.23108035, 'longitude': 55.17027266614927, 'country': 'AE', 'state': 'Dubai'}
{'name': 'Lucayan Archipelago', 'latitude': 26.661393099999998, 'longitude': -78.26835346979033, 'country': 'BS'}
{'name': 'Bahrain Island', 'latitude': 26.0280409, 'longitude': 50.55316820508136, 'country': 'BH', 'state': 'Southern Governorate'}
{'name': 'Bangladesh', 'latitude': -0.2864982, 'longitude': 36.0514231, 'country': 'KE', 'state': 'Nakuru'}
{'name': 'Barbados', 'latitude': 13.189946299999999, 'longitude': -59.559215109754064, 'country': 'BB'}
{'name': 'Беларусь', 'latitude': 54.3836054, 'longitude': 30.4054004, 'country': 'BY', 'state': 'Vitsebsk Region'}
{'name': 'Belgium', 'latitude': 40.0620915, 'longitude': -87.6392353, 'country': 'US', 'state': 'Illinois'}
{'name': 'Belize City', 'latitude': 17.5000543, 'longitude': -88.2003115, 'country': 'BZ', 'state': 'Belize District'}
{'name': 'Benin City', 'latitude': 6.3330586, 'longitude': 5.6221058, 'country': 'NG', 'state': 'Edo State'}
{'name': 'Bermuda', 'latitude': 32.3018217, 'longitude': -64.7603583, 'country': 'BM'}
{'name': 'bhutan', 'latitude': 33.0204804, 'longitude': 75.6458366, 'country': 'IN', 'state': 'Jammu and Kashmir'}
{'name': 'Bolivia', 'latitude': 34.0676715, 'longitude': -78.1483283, 'country': 'US', 'state': 'North Carolina'}
{'name': 'Botswana', 'latitude': 25.21468695, 'longitude': 55.18137698902848, 'country': 'AE', 'state': 'Dubai'}
{'name': 'Brazil', 'latitude': 39.523652, 'longitude': -87.1250154, 'country': 'US', 'state': 'Indiana'}
{'name': 'Bulgaria', 'latitude': 44.1141209, 'longitude': 12.32615, 'country': 'IT', 'state': 'Emilia-Romagna'}
{'name': 'Family Savadogo', 'latitude': 13.4329296, 'longitude': -1.9956277265699778, 'country': 'BF'}
{'name': 'Cabo Verde', 'latitude': -21.4743338, 'longitude': -46.3964995, 'country': 'BR', 'state': 'Minas Gerais'}
{'name': 'Cambodia Town', 'latitude': 42.6379684, 'longitude': -71.3213616, 'country': 'US', 'state': 'Massachusetts'}
{'name': 'Cañada', 'latitude': 38.6752399, 'longitude': -0.8099623, 'country': 'ES', 'state': 'Valencian Community'}
{'name': 'Cayman Islands', 'latitude': 19.3298691, 'longitude': -81.17122907994889, 'country': 'KY'}
{'name': 'Central African Republic', 'latitude': 25.218395899999997, 'longitude': 55.17523857621538, 'country': 'AE', 'state': 'Dubai'}
{'name': 'chad', 'latitude': 32.7600402, 'longitude': 76.0706663, 'country': 'IN', 'state': 'Himachal Pradesh'}
{'name': 'Channel Islands', 'latitude': 33.96579515, 'longitude': -120.09189711105296, 'country': 'US', 'state': 'California'}
{'name': 'Chile', 'latitude': 7.308692, 'longitude': -61.8478915, 'country': 'VE', 'state': 'Bolivar State'}
{'name': 'Guangzhou City', 'latitude': 23.1301964, 'longitude': 113.2592945, 'country': 'CN', 'state': 'Guangdong Province'}
{'name': 'Colômbia', 'latitude': -20.1774291, 'longitude': -48.6872822, 'country': 'BR', 'state': 'São Paulo'}

KeyboardInterrupt:

In [18]:
positions = positions.rename(columns={"city_name": "country_name"})
positions

AttributeError: 'function' object has no attribute 'rename'

In [ ]:
# positions.to_csv("data_csv/gdp_country_positions.csv", sep=";", index=False)

In [17]:
positions

<bound method DataFrame.drop of                                                   Lieu  \
0                                          Afghanistan
1                                              Albania
2                                              Algeria
3                                              Andorra
4                                               Angola
..                                                 ...
188                         Middle East & North Africa
189  Middle East & North Africa (excluding high inc...
190  Middle East & North Africa (IDA & IBRD countries)
191                                         South Asia
192                                              World

               country_name   latitude  longitude country          state
0               Afghanistan  25.233394  55.174389      AE          Dubai
1                   Albania   5.758765 -73.915162      CO      Santander
2                   Algiers  36.775361   3.060188      DZ        Algiers
3          Andorra la Vella  42.506939   1.521247      AD            NaN
4                    Angola  41.634874 -84.999280      US        Indiana
..                      ...        ...        ...     ...            ...
188             Middle East  39.301416 -76.588848      US       Maryland
189             Middle East  39.301416 -76.588848      US       Maryland
190             Middle East  39.301416 -76.588848      US       Maryland
191  South East Asia Sector  21.373206  39.984540      SA  Makkah Region
192             World's End  51.486098  -1.299508      GB        England

[193 rows x 6 columns]>

### Get positions for the host cities in the medal dataset

In [5]:
medals = pd.read_csv("data_csv/medailles.csv")
medals.head()

   Place             Pays  Or  Argent  Bronze  Total   Lieu  Annee
0      1       Etats Unis  38      41      34    113  Tokyo   2021
1      2            Chine  36      32      18     86  Tokyo   2021
2      3            Japon  27      12      16     55  Tokyo   2021
3      4  Grande Bretagne  22      21      22     65  Tokyo   2021
4      5           Russie  20      28      23     71  Tokyo   2021

In [8]:
host_cities = medals.drop_duplicates(subset=["Lieu", "Annee"])[["Lieu", "Annee"]]

In [18]:
host_cities["Lieu"]

0                Tokyo
93      Rio de Janeiro
180            Londres
265              Pékin
352            Athènes
426             Sydney
506            Atlanta
585          Barcelone
650              Séoul
705        Los Angeles
755             Moscou
792           Montréal
833             Munich
883             Mexico
927              Tokyo
968               Rome
1012         Melbourne
1050          Helsinki
1093           Londres
1130            Berlin
1162       Los Angeles
1190         Amsterdam
1223             Paris
1250            Anvers
1272         Stockholm
1291           Londres
1312           Athènes
1332       Saint Louis
1342             Paris
1362           Athènes
Name: Lieu, dtype: object

In [14]:
host_city_positions = get_position(list(host_cities["Lieu"]))

{'name': 'Tokyo', 'latitude': 35.6828387, 'longitude': 139.7594549, 'country': 'JP'}
{'name': 'Rio de Janeiro', 'latitude': -22.9110137, 'longitude': -43.2093727, 'country': 'BR', 'state': 'Rio de Janeiro'}
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}
{'name': 'Beijing', 'latitude': 39.906217, 'longitude': 116.3912757, 'country': 'CN', 'state': 'Beijing'}
{'name': 'Athens', 'latitude': 37.9839412, 'longitude': 23.7283052, 'country': 'GR', 'state': 'Attica'}
{'name': 'Sydney', 'latitude': -33.8698439, 'longitude': 151.2082848, 'country': 'AU', 'state': 'New South Wales'}
{'name': 'Atlanta', 'latitude': 33.7489924, 'longitude': -84.3902644, 'country': 'US', 'state': 'Georgia'}
{'name': 'Barcelona', 'latitude': 41.3828939, 'longitude': 2.1774322, 'country': 'ES', 'state': 'Catalonia'}
{'name': 'Seoul', 'latitude': 37.5666791, 'longitude': 126.9782914, 'country': 'KR'}
{'name': 'Los Angeles', 'latitude': 34.0536909, 'longitude': -118.242766, 'country': 'US', 'state': 'California'}
{'name': 'Moscow', 'latitude': 55.7504461, 'longitude': 37.6174943, 'country': 'RU', 'state': 'Moscow'}
{'name': 'Montreal', 'latitude': 45.5031824, 'longitude': -73.5698065, 'country': 'CA', 'state': 'Quebec'}
{'name': 'Munich', 'latitude': 48.1371079, 'longitude': 11.5753822, 'country': 'DE', 'state': 'Bavaria'}
{'name': 'Mexico City', 'latitude': 19.4326296, 'longitude': -99.1331785, 'country': 'MX'}
{'name': 'Tokyo', 'latitude': 35.6828387, 'longitude': 139.7594549, 'country': 'JP'}
{'name': 'Rome', 'latitude': 41.8933203, 'longitude': 12.4829321, 'country': 'IT', 'state': 'Lazio'}
{'name': 'Melbourne', 'latitude': -37.8142176, 'longitude': 144.9631608, 'country': 'AU', 'state': 'Victoria'}
{'name': 'Helsinki', 'latitude': 60.1674881, 'longitude': 24.9427473, 'country': 'FI'}
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}
{'name': 'Berlin', 'latitude': 52.5170365, 'longitude': 13.3888599, 'country': 'DE'}
{'name': 'Los Angeles', 'latitude': 34.0536909, 'longitude': -118.242766, 'country': 'US', 'state': 'California'}
{'name': 'Amsterdam', 'latitude': 52.3727598, 'longitude': 4.8936041, 'country': 'NL', 'state': 'North Holland'}
{'name': 'Paris', 'latitude': 48.8588897, 'longitude': 2.3200410217200766, 'country': 'FR', 'state': 'Ile-de-France'}
{'name': 'Antwerp', 'latitude': 51.2211097, 'longitude': 4.3997081, 'country': 'BE', 'state': 'Antwerp'}
{'name': 'Stockholm', 'latitude': 59.3251172, 'longitude': 18.0710935, 'country': 'SE'}
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}
{'name': 'Athens', 'latitude': 37.9839412, 'longitude': 23.7283052, 'country': 'GR', 'state': 'Attica'}
{'name': 'Saint Louis', 'latitude': 38.6319657, 'longitude': -90.2428756, 'country': 'US', 'state': 'Missouri'}
{'name': 'Paris', 'latitude': 48.8588897, 'longitude': 2.3200410217200766, 'country': 'FR', 'state': 'Ile-de-France'}
{'name': 'Athens', 'latitude': 37.9839412, 'longitude': 23.7283052, 'country': 'GR', 'state': 'Attica'}

In [15]:
host_city_positions

,Lieu,city_name,latitude,longitude,country,state
0,Tokyo,Tokyo,35.682839,139.759455,JP,NaN
1,Rio de Janeiro,Rio de Janeiro,-22.911014,-43.209373,BR,Rio de Janeiro
2,Londres,London,51.507322,-0.127647,GB,England
3,Pékin,Beijing,39.906217,116.391276,CN,Beijing
4,Athènes,Athens,37.983941,23.728305,GR,Attica
5,Sydney,Sydney,-33.869844,151.208285,AU,New South Wales
6,Atlanta,Atlanta,33.748992,-84.390264,US,Georgia
7,Barcelone,Barcelona,41.382894,2.177432,ES,Catalonia
8,Séoul,Seoul,37.566679,126.978291,KR,NaN
9,Los Angeles,Los Angeles,34.053691,-118.242766,US,California
10,Moscou,Moscow,55.750446,37.617494,RU,Moscow
11,Montréal,Montreal,45.503182,-73.569806,CA,Quebec
12,Munich,Munich,48.137108,11.575382,DE,Bavaria
13,Mexico,Mexico City,19.432630,-99.133178,MX,NaN
14,Tokyo,Tokyo,35.682839,139.759455,JP,NaN
15,Rome,Rome,41.893320,12.482932,IT,Lazio
16,Melbourne,Melbourne,-37.814218,144.963161,AU,Victoria
17,Helsinki,Helsinki,60.167488,24.942747,FI,NaN
18,Londres,London,51.507322,-0.127647,GB,England
19,Berlin,Berlin,52.517037,13.388860,DE,NaN
20,Los Angeles,Los Angeles,34.053691,-118.242766,US,California
21,Amsterdam,Amsterdam,52.372760,4.893604,NL,North Holland
22,Paris,Paris,48.858890,2.320041,FR,Ile-de-France
23,Anvers,Antwerp,51.221110,4.399708,BE,Antwerp
24,Stockholm,Stockholm,59.325117,18.071093,SE,NaN
25,Londres,London,51.507322,-0.127647,GB,England
26,Athènes,Athens,37.983941,23.728305,GR,Attica
27,Saint Louis,Saint Louis,38.631966,-90.242876,US,Missouri
28,Paris,Paris,48.858890,2.320041,FR,Ile-de-France
29,Athènes,Athens,37.983941,23.728305,GR,Attica

In [19]:
df_merged = host_cities.merge(host_city_positions, how="left", on="Lieu").drop_duplicates(subset=["Lieu", "Annee"])

In [20]:
df_merged

,Lieu,Annee,city_name,latitude,longitude,country,state
0,Tokyo,2021,Tokyo,35.682839,139.759455,JP,NaN
2,Rio de Janeiro,2016,Rio de Janeiro,-22.911014,-43.209373,BR,Rio de Janeiro
3,Londres,2012,London,51.507322,-0.127647,GB,England
6,Pékin,2008,Beijing,39.906217,116.391276,CN,Beijing
7,Athènes,2004,Athens,37.983941,23.728305,GR,Attica
10,Sydney,2000,Sydney,-33.869844,151.208285,AU,New South Wales
11,Atlanta,1996,Atlanta,33.748992,-84.390264,US,Georgia
12,Barcelone,1992,Barcelona,41.382894,2.177432,ES,Catalonia
13,Séoul,1988,Seoul,37.566679,126.978291,KR,NaN
14,Los Angeles,1984,Los Angeles,34.053691,-118.242766,US,California
16,Moscou,1980,Moscow,55.750446,37.617494,RU,Moscow
17,Montréal,1976,Montreal,45.503182,-73.569806,CA,Quebec
18,Munich,1972,Munich,48.137108,11.575382,DE,Bavaria
19,Mexico,1968,Mexico City,19.432630,-99.133178,MX,NaN
20,Tokyo,1964,Tokyo,35.682839,139.759455,JP,NaN
22,Rome,1960,Rome,41.893320,12.482932,IT,Lazio
23,Melbourne,1956,Melbourne,-37.814218,144.963161,AU,Victoria
24,Helsinki,1952,Helsinki,60.167488,24.942747,FI,NaN
25,Londres,1948,London,51.507322,-0.127647,GB,England
28,Berlin,1936,Berlin,52.517037,13.388860,DE,NaN
29,Los Angeles,1932,Los Angeles,34.053691,-118.242766,US,California
31,Amsterdam,1928,Amsterdam,52.372760,4.893604,NL,North Holland
32,Paris,1924,Paris,48.858890,2.320041,FR,Ile-de-France
34,Anvers,1920,Antwerp,51.221110,4.399708,BE,Antwerp
35,Stockholm,1912,Stockholm,59.325117,18.071093,SE,NaN
36,Londres,1908,London,51.507322,-0.127647,GB,England
39,Athènes,1906,Athens,37.983941,23.728305,GR,Attica
42,Saint Louis,1904,Saint Louis,38.631966,-90.242876,US,Missouri
43,Paris,1900,Paris,48.858890,2.320041,FR,Ile-de-France
45,Athènes,1896,Athens,37.983941,23.728305,GR,Attica

In [21]:
df_merged.to_csv("data_csv/host_city_positions.csv", index=False, sep=";")

### Country

In [22]:
city = "Russia"
city_info = {"Pays": city}
api_url = f'https://api.api-ninjas.com/v1/country?name={city}'
response = requests.get(api_url, headers={'X-Api-Key': API_KEY})

if response.status_code == requests.codes.ok:
    if len(response.json()) > 0:
        print(response.json()[0]["iso2"])
    else:
        pass
else:
    print("Error:", response.status_code, response.text)

RU

In [26]:
gdp_countries = pd.read_csv("data_csv/country_gdp.csv", sep=";")[:-49]
gdp_coutries_transposed = gdp_countries.melt(id_vars=["country_name"], var_name="Year", value_name="GDP")

In [27]:
gdp_countries

,country_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10
2,Algeria,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,3.852147e+09,...,2.097550e+11,2.138100e+11,1.659792e+11,1.600342e+11,1.700970e+11,1.749107e+11,1.717603e+11,1.457435e+11,1.634724e+11,1.949984e+11
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.210000e+08,7.500000e+08,8.710000e+08
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.193513e+09,3.271686e+09,2.789883e+09,2.896612e+09,3.000160e+09,3.218419e+09,3.155150e+09,2.891002e+09,3.325144e+09,3.352031e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.738000e+09,3.565000e+09,3.663000e+09,3.798000e+09,3.794000e+09,3.923000e+09,4.121000e+09,4.189000e+09,4.444000e+09,NaN
213,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.351550e+10,1.398970e+10,1.397240e+10,1.540540e+10,1.612800e+10,1.627660e+10,1.713350e+10,1.553170e+10,1.810900e+10,1.911190e+10
214,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.041523e+10,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN
215,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.209642e+10,2.916378e+10
216,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.736663e+10

In [28]:
gdp_coutries_transposed

                country_name  Year           GDP
0                Afghanistan  1960  5.377778e+08
1                    Albania  1960           NaN
2                    Algeria  1960  2.723615e+09
3             American Samoa  1960           NaN
4                    Andorra  1960           NaN
...                      ...   ...           ...
13666  Virgin Islands (U.S.)  2022           NaN
13667     West Bank and Gaza  2022  1.911190e+10
13668            Yemen, Rep.  2022           NaN
13669                 Zambia  2022  2.916378e+10
13670               Zimbabwe  2022  2.736663e+10

[13671 rows x 3 columns]

In [30]:
list(gdp_countries["country_name"])

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Viet Nam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [33]:
iso2_list = []
for city in list(gdp_countries["country_name"]):
    city_info = {"Pays": city}
    api_url = f'https://api.api-ninjas.com/v1/country?name={city}'
    response = requests.get(api_url, headers={'X-Api-Key': API_KEY})

    if response.status_code == requests.codes.ok:
        if len(response.json()) > 0:
            print(response.json()[0]["iso2"])
            iso2_list.append(response.json()[0]["iso2"])
        else:
            iso2_list.append("")
            pass
    else:
        iso2_list.append("")
        print("Error:", response.status_code, response.text)

AF
AL
DZ
AS
AD
AO
AG
AR
AM
AW
AU
AT
AZ
BH
BD
BB
BY
BE
BZ
BJ
BM
BT
BO
BA
BW
BR
VG
BN
BG
BF
BI
CV
KH
CM
CA
KY
CF
TD
CL
CN
CO
KM
CR
CI
HR
CU
NL
CY
CZ
DK
DJ
DM
DO
EC
SV
GQ
ER
EE
SZ
ET
FO
FJ
FI
FR
PF
GA
GE
DE
GH
GI
GR
GL
GD
GU
GT
GN
GW
GY
HT
HN
HU
IS
IN
ID
IQ
IE
IM
IL
IT
JM
JP
JO
KZ
KE
KI
RS
KW
KG
LV
LB
LS
LR
LY
LI
LT
LU
MG
MW
MY
MV
ML
MT
MH
MR
MU
MX
MD
MC
MN
ME
MA
MZ
MM
NA
NR
NP
NL
NC
NZ
NI
NG
NG
MK
MP
NO
OM
PK
PW
PA
PG
PY
PE
PH
PL
PT
PR
QA
RO
RU
RW
WS
SM
ST
SA
SN
RS
SC
SL
SG
SX
SK
SI
SB
SO
ZA
SS
ES
LK
SD
SR
SE
CH
SY
TJ
TZ
TH
TL
TG
TO
TT
TN
TM
TC
TV
UG
UA
AE
GB
US
UY
UZ
VU
VN
ZM
ZW

In [35]:
len(iso2_list)

217

In [36]:
len(list(gdp_countries["country_name"]))

217

In [37]:
gdp_countries["iso2"] = iso2_list

In [38]:
gdp_countries

,country_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,iso2
0,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN,AF
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10,AL
2,Algeria,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,3.852147e+09,...,2.138100e+11,1.659792e+11,1.600342e+11,1.700970e+11,1.749107e+11,1.717603e+11,1.457435e+11,1.634724e+11,1.949984e+11,DZ
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.210000e+08,7.500000e+08,8.710000e+08,AS
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.271686e+09,2.789883e+09,2.896612e+09,3.000160e+09,3.218419e+09,3.155150e+09,2.891002e+09,3.325144e+09,3.352031e+09,AD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.565000e+09,3.663000e+09,3.798000e+09,3.794000e+09,3.923000e+09,4.121000e+09,4.189000e+09,4.444000e+09,NaN,
213,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.398970e+10,1.397240e+10,1.540540e+10,1.612800e+10,1.627660e+10,1.713350e+10,1.553170e+10,1.810900e+10,1.911190e+10,
214,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,
215,Zambia,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,1.264286e+09,1.368000e+09,1.605857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.209642e+10,2.916378e+10,ZM
216,Zimbabwe,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.736663e+10,ZW

In [39]:
# gdp_countries.to_csv("data_csv/country_gdp.csv", sep=";", index=False)